.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  width: 90vw;
  min-width: 200px;
  max-width: 600px;
  height: 20vh;
  min-height: 160px;
  max-height: 240px;

  .list-container {
    margin-top: 2rem;
    .list-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-icon {
    color: #9bbf29;
    user-select: none;
    padding: 3px 3px 0 3px;
  }
}

.mat-toolbar {
  height: auto;
  background-color: #101d30;
  font: inherit;

  .logo {
    margin: auto;

    img {
      width: 250px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0;
  }
}
