<div class="mat-typography">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <div class="wrapper">
      <div class="logo">
        <img src="assets/images/logos/coyo/logo-coyo-inversed-nav-hd.png" alt="COYO">
      </div>
      <tiny-task-form (created)="created($event)"></tiny-task-form>
    </div>
  </mat-toolbar>
  <section class="content">
    <div class="wrapper">
      <tiny-task-clear-done [tasks]="tasks$ | async" (deleted)="deleted($event)"></tiny-task-clear-done>
      <tiny-task-list [tasks]="tasks$ | async" (deleted)="deleted($event)" (updated)="updated($event)"></tiny-task-list>
    </div>
  </section>
</div>
