# See http://help.github.com/ignore-files/ for more about ignoring files.

### Frontend compiled output ###
/bin
/dist
/tmp
/out-tsc

### NPM dependencies ###
node_modules

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Additional IDEs and editors ###
.c9/
*.launch
*.sublime-workspace

### IDE - VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Miscellaneous ###
/.sass-cache
/connect.lock
/src/main/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

### OS Files ###
.DS_Store
Thumbs.db

### Docker Volumes ###
/postgres
