.mat-list-item {
  background: #fff;
  margin: 16px 0;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
  user-select: none;
}

p {
  color: rgba(0, 0, 0, 0.54);
}

.status{
  width: 100%;
  height: 100%;
  margin-left: 10px;
  font-family: Helvetica, serif;
  font-size: 10px;
}

.round{
  border-radius: 50%;
  //border: 1px solid;
  height: 12px;
  width: 12px;
}

.flex-center{
  display: flex !important;
  align-items: center !important;
}

.time{
  align-items: baseline;
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
}
