.mat-list-base .mat-list-item {
  background: #fff;
  margin: 16px 0;
  height: 116px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
  user-select: none;
}

.mat-error {
  display: inline-block;
}

.time-input {
  padding: 0 0 0 1rem;
}

h4 {
  padding: 1rem 0 0 0;
}

p {
  color: rgba(0, 0, 0, 0.54);
}
