.mat-list-item {
  background: #fff;
  margin: 16px 0;
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
  user-select: none;
}

p {
  color: rgba(0, 0, 0, 0.54);
}
