<button mat-raised-button id="basic" *ngIf="this.tasks.length > 0"  style=" margin:20px" color="primary" type="button" mat-button
        (click)="editTasks()">
  <span *ngIf="!editMode">Edit Task</span>
  <span *ngIf="editMode">Done</span>
</button>
<button mat-raised-button id="basic" *ngIf="this.tasks.length > 0"  style=" margin:20px" color="primary" type="button" mat-button
        (click)="clearDoneTasks()">
  <span *ngIf="editMode">Clear Done Tasks</span>
</button>


<mat-list data-cy="task-list">
  <h1 *ngIf="editMode">Please select task to mark as done by clicking over it</h1>
  <mat-list-item *ngFor="let task of tasks" class="mat-elevation-z1"  [ngClass]="checkSelectedTask(task)? 'selectedTask': ''">
    <mat-icon mat-list-icon>assignment</mat-icon>
    <h4 mat-line>{{task.name}}</h4>
    <button mat-button color="primary" id="b1" *ngIf="editMode && !checkSelectedTask(task)"  style="margin:20px" color="primary" type="button" mat-button (click)="changeTaskStatus(task)">
      Mark as Done
    </button>
    <button mat-icon-button aria-label="Delete task" color="primary" *ngIf="editMode">
      <mat-icon aria-label="Delete task" (click)="delete(task)">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
