<mat-list data-cy="task-list">
  <div class="button-wrapper">
    <button mat-raised-button (click)="clearCompletedTasks(tasks)">Clear Finished Tasks</button>
  </div>
  <mat-list-item *ngFor="let task of tasks" class="mat-elevation-z1 {{task.isCompleted ? 'completed' : 'pending'}}">
    <mat-icon mat-list-icon>assignment</mat-icon>
    <h4 mat-line>{{task.name}}</h4>
    <tiny-checkbox (click)="update(task)" name="Done" *ngIf="!task.isCompleted"></tiny-checkbox>
    <button mat-icon-button aria-label="Delete task" color="primary">
      <mat-icon aria-label="Delete task" (click)="delete(task)">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
