.mat-list-item {
  background: #fff;
  margin: 16px 0;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
  user-select: none;
}

p {
  color: rgba(0, 0, 0, 0.54);
}

.todo {
  color: #f5222d;
}

.done {
  color: #52c41a;
}
