<h1 *ngIf = "tasks && tasks.length">
  Done Tasks
</h1>
<mat-list cdkDropList id="doneList" [cdkDropListData]="tasks" cdkDropListConnectedTo="pendingList"
(cdkDropListDropped)="drop($event)">
<div class="mat-list mat-list-base pd0"  cdkDrag *ngFor="let task of tasks" >
  <mat-list-item class="mat-elevation-z1">
    <mat-icon mat-list-icon>assignment</mat-icon>
    <h4 mat-line [ngClass] = "{'strikethrough': task.checked}">{{task.name}}</h4>
    <p mat-line [ngClass] = "{'strikethrough': task.checked}">ID: {{task.id}}</p>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Delete task" (click)="delete(task)">delete</mat-icon>
    </button>
  </mat-list-item>
</div>
</mat-list>