<div class="container">
  <form (ngSubmit)="onSubmit(loginForm)" class="ui form" [hidden]="loginService.checkLogin()" #loginForm = "ngForm">
    <div class="field">
      <label for="username">Username</label>
      <input type="text" calss="form-control"  placeholder="Username" name="username" ngModel>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password"  calss="form-control" placeholder="password" name="password" ngModel>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>

  <div [hidden]="!loginService.checkLogin()">
    <h3>Logged In Successfully! </h3>
    <h2>Welcome back, {{currentUserName}}!</h2>
  </div>

</div>
