<h2 mat-dialog-title>{{'Task Detail'|translate}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select category" formControlName="category">
      <mat-option *ngFor="let c of categories" [value]="c">
        {{c.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button>

</mat-dialog-actions>
