<section class="mat-typography">
  <h1>Welcome to TinyTasks!</h1>
  <mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option>All</mat-option>
      <mat-option value="Created">Created</mat-option>
      <mat-option value="InProgress">In Progress</mat-option>
      <mat-option value="Done">Done</mat-option>
    </mat-select>
  </mat-form-field>

  <ul>
    <li *ngFor="let task of getTasksWithStatus(selected); index as i">
      {{task.getName()}} -- Status: {{task.getIsFinished()}}
      <button mat-icon-button>
        <mat-icon aria-label="Mark as started" (click)="start(i)">play_for_work</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Mark as Done" (click)="finish(i)">done</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Delete task" (click)="remove(i)">delete</mat-icon>
      </button>
    </li>
  </ul>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Add task" #taskInput>
  </mat-form-field>
  <button mat-button color="primary" (click)="add(taskInput.value); taskInput.value='';">Add</button>

  <button mat-button color="warn" (click)="clear()">Clear</button>
</section>
