<mat-form-field color="primary">
  <mat-label class="label">Search tasks</mat-label>
  <input matInput type="text" [(ngModel)]="value" />
  <button
    *ngIf="!value"
    matSuffix
    mat-icon-button
    aria-label="Search tasks"
    class="suffix-icon"
  >
    <mat-icon aria-label="Search tasks">search</mat-icon>
  </button>
  <button
    *ngIf="value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="value = ''"
    class="suffix-icon"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
