<h2>Create Task</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput
           placeholder='Name'
           [(ngModel)]="task.name"
           required>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           [matDatepicker]="picker"
           [(ngModel)]='task.dueDate'
           placeholder="Choose a date"
           required>
    <mat-datepicker-toggle matSuffix
                           [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category"
                [(ngModel)]='task.category'>
                <mat-option *ngFor="let option of categoryOptions" [value]='option | titlecase '>{{option | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Status"
                [(ngModel)]='task.status'>
                <mat-option *ngFor="let option of statusOptions" [value]='option | titlecase '>{{option | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput
    placeholder='Description'
    [(ngModel)]="task.description"
    name="description" id="description" rows="7">

    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions style='display:flex;justify-content: flex-end'>
  <button mat-stroked-button color="primary" style='margin-right:10px'
          (click)="onClear()">Clear</button>
  <button mat-stroked-button color="primary"
          [disabled]='task.name === undefined || task.name === ""'
          [mat-dialog-close]="task"
          cdkFocusInitial>Save</button>
</div>
