/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.medium-emphasis {
  color: rgba(0, 0, 0, .6);
}

.relatively-positioned-dialog {
  position: relative !important;
}

.full-screen-dialog mat-dialog-container {
  border-radius: 0 !important;
}

.error {
  color: #B00020 !important;
}

.spacer {
  flex: 1 1 auto;
}

.slds-illustration {
  &__stroke {
    &-primary {
      stroke: #8cd3f8
    }
    &-secondary {
      stroke: #c2e8ff;
    }
  }
  &__fill {
    // &-primary {

    // }
    &-secondary {
      fill: #c2e8ff;
    }
  }

}