/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.mat-focus-indicator.mat-icon-button.mat-button-base {
  color: #f0f0f0;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  display: inline-flex;
  align-items: center;
}
